/* CSS RESET */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --black: #000000;
    --white: #ffffff;
    --feature: #e4ab22;
}

.wrapper {
    height: 100vh;
    width: auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ==== MODAL ==== */
.button {
    background: var(--white);
    padding: 1em 3em;
    margin-top: 20px;
    color: var(--black);
    border: 0;
    border-radius: 0.2px;
    cursor: pointer;
    font-family: 'Fira-sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.3em;
    line-height: 1.3em;
    transition: all 0.3s;
  }
  
  
  .button:hover {
    background: var(--white);
    color: var(--black);
    transform: scale(1.1);
  }
  
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 0.3s;
  }

  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--white);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    background-color: var(--white);
    width: 100%;
  }
  
  .modal-footer {
    background: var(--white);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    float: right;
    font-size: 30px;
    color: var(--black);
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .contentsection {
      width: 100%;
      max-width: 900px;
      position: relative;
      padding: 40px 30px;
      margin: 0 auto;
  
  }
  .contentsection.fill{
      max-width: none;
      padding: 0;
  }
  .content_horizontallist {
      width: 100%;
      position: relative;
      background: transparent;
      display: flex;
      flex-direction: row;
  }
  .content_horizontallist > div {
      flex: 1;
      padding: 0px 30px;
      border-right: 1px solid rgba(0,0,0,0.1)
  }
  .content_horizontallist > div:last-child {
      border-right: none;
  }
  
  .icon_wrapper.right {
      text-align: right;
  }
  .icon_wrapper.left {
      text-align: left;
  }
  .icon_wrapper.right img {
      height: 40px;
      margin-left: 10px;
  }
  .icon_wrapper.left img {
      height: 40px;
      margin-right: 10px;
  }



footer {
    position: fixed;
    bottom: 0;

}

.link-icon {
    padding: 7px;
    padding-bottom: 15px;
    transition: 200ms;
    margin-bottom: 3px;
  }
  
  .link-icon:hover {
    transform: scale(1.2);
  }
  
  .link-icon:active {
    transform: translateY(0.5px);
  }