


/* ==== MEDIA QUERY ==== */

/* Big phones in landscape mode*/
@media only screen and (max-width : 813px) {
  .about, .overlay-content {
    height: 100%;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .overlay-content {
    overflow-y:scroll;
    height: 100vh;
  }

  .about > div {
  border: none;
  padding: 0;
  }

  .about > div:last-child {
  border-right: none;
  }

  .info-bar {
    position: inherit;
  }
}



/* Small Devices, Tables */
@media only screen and (max-width : 768px) {
  .about, .overlay-content {
    height: 100%;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-content {
    overflow-y:scroll;
    height: 100vh;
  }

  .info-bar {
    position: inherit;
  }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.landing {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-container {
 overflow-y: scroll;
 height: 100%;
}


.about, .overlay-content {
  height: 100%;
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  overflow-y:scroll;
  height: 100vh;
}

.about > div {
border: none;
padding: 0;
}

.about > div:last-child {
border-right: none;
}
}

/* Custom, Phone Retina */
@media only screen and (max-width : 320px) {
.landing {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

