/* CSS RESET */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background: #000000;
  --black:#000000;
  --white: #ffffff;
  --white-20:rgba(255, 255, 255, 0.8);
  --feature: #e4ab22;

  --underline: #f1f1f1;

}

:root {
	--background: #ffffff;
	--foreground: #f1f1f1;
	--primary: #0a0a0a;
}

* {
	border-style: border-box;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
}

/*Main container before overlay*/
.main {
	background: var(--primary);
	color: white;
	height: 100vh;
	padding: 0;
	margin: 0;
	top: 0;
	z-index: 0;
	overflow: hidden;
}

/* Overlay wrapper style container*/
.wrapper-container {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background: pink;
	transition: 300ms ease;
	overflow-x: hidden; /* Disable the vertical scroll */
}

/* Placere indenfor for overlay */
.overlay-content {
	position: relative;
	top: 10%;
	width: 100%;
	text-align: center;
	color: black;
	margin-top: 30px;
}


.closebtn{
  position:absolute;
  top:45px;
  right:45px;
	font-size:25px !important;
	color: white;
	text-decoration: none;
}

button {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	display: block;
}
