h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    color: var(--dark-100);
    letter-spacing: 0.4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-80);
    line-height: 1.45rem;
    font-weight: 100;
}

::selection {
    background-color: var(--bg);
    color: var(--dark-100);
}

a, .Projects {
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--dark-80);
    letter-spacing: 1px;
    position: relative;
}

/*underline*/
a.Projects:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid var(--feature);
  margin-top: 2px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.Projects:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bigheader {
    color: var(--dark100);
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.5px;
}

.smallheader {
    color: var(--dark-100);
    font-size: 0.79rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1px;
    line-height: 0;
}

.header_dash {
    color: var(--white);
}

@media only screen and (max-width : 480px) {
    .bigheader {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    }
    .smallheader {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1px;
    line-height: 0;
    text-align: center;
}
}