* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --white: #ffffff;
  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-feat: #ea0300;
  --color-feat-nav: #edecec;
  --color-feat-bs: #ea0300;

  --bs-xs: 0px 4px 12px -8px rgba(0, 0, 0, 0.75);

  --fs-xl: 8rem;
  --fs-800: 5rem;
  --fs-700: 4rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-200: 0.8rem;
}

/* Dark mode */
[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --color-feat: #d9f755;
  --color-feat-nav: #d9f755;
  --color-feat-bs: transparrent; 
}

@media (max-width: 40em) {
  :root {
    --fs-xl: 5rem;
    --fs-600: 1.2rem;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  overflow-x: hidden; /* Hvis noget af mit indhold ikke vises, kan dette være synderen! (Quick-fix for hide-on-scroll class navbar)*/
}

/*FONTS AND CLASSES*/

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: var(--color-fg);
}

.title {
  text-transform: uppercase;
  font-size: var(--fs-xl);
  line-height: 0.9;
}

@media (max-width: 600px) {
  .title {
      font-size: var(--fs-700);
  }
  }

p {
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: var(--color-fg);
}

.longDescription, .comment {
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: var(--color-fg);
  padding-top: 20px;
}
